.container{
    padding-bottom: 50px;
}
.bg-orange{
    background-color: #fceae8;
    border-radius: 8px;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom, #ff589b 0% ,#ff136f 100%);
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 40px ;
}
.price{
    color: #ff136f; 
}
.cat1,.cat2,.cat3{
    border-radius: 8px;
    padding: 10px 20px;
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: violet;
    
}
.cat3{
    background-color: blue;
    
}
.categories img{
    width: 100px;
}
.categories h2{
    color: white;
}
/* .container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.btn-buy-now{
    background-image:linear-gradient(to bottom, #ff589b 0% ,#ff136f 100%);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding:9px 25px;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 8px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h2{
    color: white;
   
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px;
    border-radius: 8px ;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}

#subscribe h6{
    color:gray;
}
footer{
    text-align: center;
    color: gray;
} */